*{
    margin: 0;
    padding: 0;
    font-family:Helvetica;
}

.wrapper{
    width: 100%;
    height: 100%;
}

.header-bar{
    width: 100%;
    height: 20%;
    background-color: #add8e6;
    position: relative;
    left: 0;
    top: 0;
    right: 0;
}

.mega-travel-logo-img{
    width: 300;
    height: 150;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header-separator{
    width: 100%;
    height: 20px;
    position: relative;
    background-color: #d3d3d3;
}

.navigation-bar{
    margin-top: 20px;
    width: 100%;
    height:50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style: none;
    color: white;
}

ul li{
    float: left;
    padding-right: 20px;
}

h1{
    margin-bottom: 10px; 
    font-size: 16pt;
}

.information-div{
    padding: 30px 10px 0px;
    font-family:Helvetica;
    margin-bottom: 35px;
}

.travel-locations{
    height: 80%;
    border-style: solid;
    margin: 10px;
    padding: 10px;
}

.resort-text{
    margin-top: 30px;
}

.original-price-text{
    font-size: 11pt;
    color: lightgray;
    margin-bottom: 3px;
}

.saving-price-text{
    color: green;
}

.locations-img{
   max-width: 100%;
   height: auto;
}

.footer{
    padding: 10px 30px;
    height: 125px;
    background-color: yellow;
    color: white;
}