*{
    box-sizing: border-box;
    text-decoration: none;
}
html, body {
    font-family:Helvetica;
    font-size: 100%;
    padding: 0;
    margin: 0;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 24%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 10px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.row{
    display:flex;
}

header{
    padding: 20px;
    background-color: #add8e6;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
}

.header-separator{
    width: 100%;
    padding: 5px;
    position: relative;
    background-color: #d3d3d3;
    overflow: hidden;
    text-align: center;
}

#welcome-text-span{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
}

#time-text-span{
    color: #C00000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    display: block;
    margin-top: 5px;
}

nav{
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}

.links-text{
    margin-right: 30px;
    color: black;
    transition: color 500ms ease-out 100ms, transform 700ms ease-in-out;
    display: inline-block;
}

.links-text:hover{
    color: #C00000;
    transform: translate(0px, -7px);
    /*position: relative;
    top: -6px;*/
}


#information-div{
    width: 50%;
    padding: 0px 20px 0px;
}

#travel-locations-block{
    background-color: white;
    border-style: solid;
    transition: background-color 2s ease-out 100ms;
    text-decoration: none;
    flex:1;
}

#travel-locations-block:hover{
    background-color: black;
}

#travel-locations-block:hover .resort-text{
    color: white;
}

#travel-locations-block:hover .price-you-pay{
    color: white;
    transition: color 1s ease-out 100ms
}

h1{
    color: white;
    margin-bottom: 10px; 
    font-size: 16pt;
}

footer{
    width: 100%;
    background-color: black;
    padding: 5px 20px 5px;
}

.mega-travel-logo-img{
    width: 300px;
    height: 150px;
    display: block;
}

.locations-img{
    max-width: 100%;
    width: 100%;
    height: auto;
 }

 .resort-text{
    color:black;
    transition: color 1s ease-out 100ms;
    margin: 10 0 0;
 }

 .saving-price-text{
    color: green;
    margin: 0;
}

.original-price-text{
    font-size: 11pt;
    color: gray;
    margin-bottom: -10px;
}

.price-you-pay{
    margin-bottom: 5px;
    transition: color 1s ease-out 100ms
}

.about-us-div{
    width: 50%;
    padding-left: 20px;
    margin: 10px 0px 40px;
}

.agent-contact-div{
    padding-left: 20px;
    margin: 10px 0px 40px;
}

#sun-moon-icon-id{
    height: 1.75em;
    width: 1.75em;
}

#maldives-contact-div{
    height: 100px;
    width: 100px;
    background-color: yellow;
}

#location-activity-div{
    height: 100px;
    width: 100px;
    background-color: yellow;
}

form {
    margin: 0px 20px 20px;
    padding: 0px 20px 10px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    background-color: #F0EFF2;
}

#destined-location-title{
    display: block;
    text-decoration: underline;
    color: #0E1445;
    font-size: 14pt;
    margin: 0px 0px 10px;
}

#activity-check-box-text{
    display: inline-block;
    margin-bottom: 20px;
}

#activity-check-box{
    display: inline-block;
}

.input-label{
    margin-bottom: 5px;
    display: block;
}

.text-input{
    width: 300px;
    height: 30px;
    font-size: 14pt;
    margin-bottom: 20px;
}

select{
    height: 25px;
    margin-bottom: 20px;
}

#no-location-error{
    font-style: italic;
    color: red;
}

.button{
    width: 150px;
    height: 40px;
    font-size: 12pt;
    background-color: #828285;
    color: white;
}

input[type=date]{
    height: 30px ;
    margin-bottom: 20px;
}

#activities-div{
    padding: 0px;
}

#select-location{
    width: auto;
    font-size: 12pt;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
    #travel-locations-block{
        margin-top: 10px;
    }
    .mega-travel-logo-img{
        margin-left: auto;
        margin-right: auto;
    }
    #information-div{
        width: 100%;
        padding-left: 10px;
    }
    #welcome-text-span{
        font-size: 1.125em;
    }
    #sun-moon-icon-id{
        height: 1.5em;
        width: 1.5em;
    }
    #time-text-span{
        font-size: 0.875em;
    }
    nav{
        background-color: black;
    }
    .links-text:hover{
        color: #ffa500;
        position: relative;
        transform: translate(0px, 0px);
        top: 0;
    }
    .links-text{
        transition: color 0s ease-in-out, transform 0s ease-in-out;
        color: white;
    }

    #travel-locations-block{
        margin-bottom: 10px;
    }
    .row{
        display: block;
    }
    .about-us-div{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .agent-contact-div{
        padding-left: 10px;
        padding-right: 10px;
    }
    form{
        margin: 0px 10px 20px;
    }
    .text-input{
        width: 100%;
        height: 30px;
    }
    select{
        height: 30px;
    }
    .button{
        width: 100%;
        height: 50px;
        font-size: 20pt;
    }

    #select-location{
        width: 100%;
    }
}
